div{
    outline: 1px solid lime;
}
.header{
    width: 920px;
    background-color:blue;
    height:220px;
}
.container{
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}
.redboxe1{
    background-color:red;
    height:400px;
    width: 306px;
    float:left;
}
    .redboxe2 {
    background-color:red;
    height:400px;
    width: 306px;
    float:left;
    }
    
    .redboxe3 {
    background-color:red;
    height:400px;
    width: 306px;
    float:left;
        }

.greenbox{
    width:920px;
    background-color: green;
    height:200px;
    float:left;
}